body {
  max-width: 90%;
  background-color: #9792b2;
}

h1 {
  font-weight: 700;
}

.date {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 8px;
  padding: 24px;
  margin: 12px;
}

.date h3 {
  text-align: center;
  padding: 20px;
  font-weight: 400;
}

.date p {
  padding: 20px;
  padding-bottom: 2px;
  font-size: 22px;
}

footer {
  font-size: 18px;
}

footer a {
  color: white;
}
