/* Hero and Footer color #1f2937
Hero h1 = 48px, extra bold #f9faf8
Hero p + header links = 18px, #e5e7eb
Header Logo 2= 24px, #f9faf8
Button + Call to action bg = #3882f6
info header = 36px extra-bold #1f2937
quote bg = #e5e7eb
quote text = 36px, light italic, #1f2937
*/

:root {
  --branding-color: #1f2937;
  --hero-heading-color: #f9faf8;
  --hero-text-color: #e5e7eb;
  --accent-color: #3882f6;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.section {
  display: flex;
  flex-direction: column;
}

.section-1 .wrapper {
  gap: 60px;
  background-color: var(--branding-color);
  padding: 36px 60px;
}

.section-1 .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
}

.section-1 .logo-img {
  max-width: 150px;
}

.section-1 .header-menu {
  display: flex;
  gap: 46px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  font-size: 18px;
  color: var(--hero-text-color);
  text-decoration: none;
}

.section-1 .hero {
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}

.section-1 .hero-left {
  flex: 1;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.section-1 h1 {
  color: var(--hero-text-color);
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  margin-top: 0;
}

.section-1 p {
  margin-top: 0;
  color: var(--hero-heading-color);
}

button {
  width: 180px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--accent-color);
  color: var(--hero-heading-color);
  border: 1px solid var(--accent-color);
}

.section-1 img {
  flex: 1.25;
  border-radius: 8px;
  background-size: cover;
  max-width: 550px;
}

.section-2 {
  background-color: var(--hero-heading-color);
  padding: 45px 60px;
}

.section-2 .wrapper {
  gap: 36px;
}

.section-2 h2 {
  display: flex;
  justify-content: center;
  color: var(--branding-color);
  font-weight: 600;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 40px;
}

.section-2-cards {
  display: flex;
  gap: 36px;
}

.section-2-cards .random-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-weight: 200;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding-top: 44px;
}

.section-2-cards .random-card img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.section-2-cards .random-card p {
  text-align: center;
  margin-top: 0;
}

.section-3 {
  background-color: var(--hero-text-color);
  padding: 60px;
}

.section-3 .wrapper {
  max-width: 70ch;
}

.section-3 .fancy-quote {
  font-size: 32px;
  color: var(--branding-color);
  font-weight: 200;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-3 p {
  margin-top: 20px;
  margin-left: 400px;
  font-size: 24px;
  font-style: normal;
}

.section-4 {
  background-color: var(--hero-heading-color);
  padding: 46px 60px;
  display: flex;
  justify-content: center;
}

.section-4 .do-something {
  gap: 8px;
  border-radius: 8px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 60px;
}

.section-4 .do-text {
  color: var(--hero-text-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-4 .button-outline {
  background-color: transparent;
  border: 2px solid var(--hero-text-color);
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--branding-color);
  color: var(--hero-heading-color);
  font-size: 18px;
  padding: 40px;
}

footer a {
  font-size: 18px;
  text-decoration: none;
  color: var(--hero-heading-color);
}
